
#p1 {
	font-family:Helvetica;
	color:#848484;
	font-size:36px;
	text-align:center;
	margin-top:100px;
	}

#p2 {
	font-family:Helvetica;
	color:grey;
	font-size:72px;
	text-align:center;
	}

#p3 {
	font-family:Helvetica;
	font-size:14px;
	color:#848484;
	text-align:center;
	}